body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: #000000;
  font-weight: 700;
}

.site-navigation {
  list-style: none;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus {
  color: #b2b2b2;
}

.site-navigation a:active {
  color: #9b8d84;
}

.content-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.content-title-interesting {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.text-preview {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}

.title-btn {
  width: 568px;
  background-color: #766357;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
}

.title-btn:hover {
  background-color: #604e43;
}

.title-btn:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-search-item {
  font-size: 14px;
  font-weight: 700;
}

.search-btn {
  width: 458px;
  height: 58px;
  background-color: #81b3d2;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.search-btn:hover {
  background-color: #669ec0;
}

.search-btn:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.canyon-img {
  background-color: #ffffff;
  background-image-size: 1200px;
  background-image: url("../img/landscape-img/intro-welcome.svg"),
    url("../img/landscape-img/landscape-1.jpg");
  height: 780px;
  background-repeat: no-repeat;
}

.date-field {
  background-color: #f2f2f2;
}

.date-field:hover {
  background-color: #ebebeb;
}

.date-field:focus {
  background-color: #ffffff;
}

.view-calendar {
  background-image: url("../img/icons/icon-calendar.svg");
  color: #d4d4d4;
}

.number-field {
  width: 20px;
}

.less-number,
.more-number {
  color: #a9a9a9;
}

.less-number:hover,
.more-number:hover {
  color: #000000;
}

.less-number:active,
.more-number:active {
  color: #81b3d2;
}

.social-networks {
  list-style: none;
}

.visual-hidden {
  display: none;
}

.catalog-list {
  list-style: none;
}

.hotels-name {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.hotels-name a:hover {
  color: #81b3d2;
}

.hotels-name a:focus {
  color: rgba(0, 0, 0, 0.3);
}

.hotels-type,
.hotels-price {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
}

.rating {
  color: #8b8b8b;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
}

.catalog-btn,
.catalog-btn-order {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.catalog-btn {
  background-color: #81b3d2;
  padding: 5px 10px;
}

.catalog-btn:hover {
  background-color: #669ec0;
}

.catalog-btn:focus {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.catalog-btn-order {
  background-color: #766357;
  padding: 5px 10px;
}

.catalog-btn-order:hover {
  background-color: #604e43;
}

.catalog-btn-order:focus {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.mini-link {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

/*стили сетки*/
body>* {
  background: rgba(255, 0, 0, 0.3);
}

body>*>* {
  background: rgba(255, 255, 0, 0.3);
}

body>*>*>* {
  , 255, 0, 0.3);
}

html,
body {}

body {
  background-color: #f2f2f2;
  margin: 0;
}

.wrap {
  width: 1200px;
  margin: 0 auto;
}

.header-page {
  background-color: #ffffff;
}

.main-menu {
  display: flex;
}

.main-logo {
  display: none;
  width: 140px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin: 0 0 0 -70px;
}

.site-navigation {
  display: flex;
  margin: 0;
  padding: 0;
}

.site-navigation li {
  width: 264px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.site-navigation li:first-child {
  padding-left: 72px;
  text-align: left;
}

.site-navigation li:nth-child(2) {
  text-align: left;
}

.site-navigation li:nth-child(3) {
  text-align: right;
}

.site-navigation li:last-child {
  padding-right: 72px;
  text-align: right;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.canyon-img {
  height: 508px;
}

.content {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

.connect {
  width: 575px;
  margin: 0 auto;
  text-align: center;
}

.catalog-list {
  margin: 0;
  padding: 0;
}

.catalog-item {
  display: flex;
  padding-left: 75px;
  padding-right: 75px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.hotels-img {
  width: 135px;
  margin-right: 30px;
  padding-top: 25px;
}

.hotels-choice {
  margin-left: 30px;
  width: 650px;
}

.hotels-stars {
  max-width: 200px;
}

.rating {
  margin-left: 80px;
}
.page-footer {
background-color: rgba(255, 255, 255, 0.9);
display: flex;
flex-direction: row;
}

.mini-link {
  margin: 0;
  width: 400px;
}

.footer-social {
  width: 400px;
}

.social-networks {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.footer-copyright {
  width: 400px;
  margin: 0;
}
