body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: #000000;
  font-weight: 700;
}

.site-navigation {
  list-style: none;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus {
  color: #b2b2b2;
}

.site-navigation a:active {
  color: #9b8d84;
}

.content-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.content-title-interesting {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.text-preview {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}

.title-btn {
  width: 568px;
  background-color: #766357;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
}

.title-btn:hover {
  background-color: #604e43;
}

.title-btn:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-search-item {
  font-size: 14px;
  font-weight: 700;
}

.search-btn {
  width: 458px;
  height: 58px;
  background-color: #81b3d2;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.search-btn:hover {
  background-color: #669ec0;
}

.search-btn:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.canyon-img {
  background-color: #ffffff;
  width: 100%;
  background-image: url("../img/landscape-img/landscape-1.jpg");
  height: 780px;
  background-repeat: no-repeat;
  position: relative;
}

.welcome-img {
  background-image: url("../img/landscape-img/intro-welcome.svg");
  width: 460px;
  height: 350px;
  position: absolute;
  left: 370px;
  top: 75px;
}

.hotel-search-item {
  background-color: #ffffff;
}

.date-field {
  background-color: #f2f2f2;
  margin-left: 20px;
  position: relative;
}

.date-field:hover {
  background-color: #ebebeb;
}

.date-field:focus {
  background-color: #ffffff;
}

.view-calendar {
  background-image: url("../img/icons/icon-calendar.svg");
  color: #d4d4d4;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 240px;
  top: 5px;
}

.number-field {
  width: 20px;
}

.less-number,
.more-number {
  color: #a9a9a9;
}

.less-number:hover,
.more-number:hover {
  color: #000000;
}

.less-number:active,
.more-number:active {
  color: #81b3d2;
}

.social-networks {
  list-style: none;
}

.visual-hidden {
  display: none;
}

.catalog-list {
  list-style: none;
}

.hotels-name {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.hotels-name a:hover {
  color: #81b3d2;
}

.hotels-name a:focus {
  color: rgba(0, 0, 0, 0.3);
}

.hotels-type,
.hotels-price {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
}

.rating {
  color: #8b8b8b;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
}

.catalog-btn,
.catalog-btn-order {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.catalog-btn {
  background-color: #81b3d2;
  padding: 5px 10px;
}

.catalog-btn:hover {
  background-color: #669ec0;
}

.catalog-btn:focus {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.catalog-btn-order {
  background-color: #766357;
  padding: 5px 10px;
}

.catalog-btn-order:hover {
  background-color: #604e43;
}

.catalog-btn-order:focus {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.logo-html {
  fill: #000000;
}

.logo-html:hover {
  fill: #81b3d2;
}

.logo-html:focus {
  fill: #bdbbbc;
}

.mini-link {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.social-button {
  display: flex;
  width: 50px;
  height: 50px;
  background-color: #81b3d2;
  justify-content: center;
  align-items: center;
  margin-right: 7px;
}

.social-btn-svg {
  fill: #ffffff;
}

.social-button:hover {
  background-color: #669ec0;
  color: #ffffff;
}

.social-button:focus {
  background-color: #5496bd;
  color: rgba(136, 182, 209, 0.3);
}

/*стили сетки*/
body {
  background-color: #f2f2f2;
  margin: 0;
}

.img {
  max-width: 100%;
  height: auto;
}

.wrap {
  width: 1200px;
  margin: 0 auto;
}

.header-page {
  background-color: #ffffff;
}

.main-menu {
  display: flex;
}

.main-logo {
  width: 140px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin: 0 0 0 -70px;
  z-index: 100;
}

.site-navigation {
  display: flex;
  margin: 0;
  padding: 15px 72px;
}

.site-navigation li {
  width: 264px;
}

.site-navigation li:first-child {
  text-align: left;
}

.site-navigation li:nth-child(2) {
  text-align: left;
}

.site-navigation li:nth-child(3) {
  text-align: right;
}

.site-navigation li:last-child {
  text-align: right;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.canyon-img {
  height: 508px;
}

.content {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: #ffffff
}

.interesting-preview {
  width: 100%;
  background-color: #ffffff;
  height: 290px;
  position: relative;
  margin-top: 0;
}

.content-title {
  display: block;
  width: 450px;
  text-align: center;
  margin: 0 auto;
}

.connect {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.hide-form {
  margin: 0 auto;
  position: absolute;
  top: 890px;
  height: 490px;
  left: 312px;
  right: 312px;
}

.search-title {
  margin-bottom: 0;
  margin-top: 0;
}

.title-btn {
  width: 575px;
  height: 90px;
  text-transform: uppercase;
}

.hotel-search {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 575px;
  height: 400px;
  background-color: #ffffff;
  z-index: 100;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  /*position:absolute;*/
  /*display:none;*/
}

.map-img {
  background: url("../img/map/map.jpg")no-repeat;
  width: 100%;
  height: 470px;
}

.title-btn:active .hotel-search {
  display: block;
}

.catalog-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.catalog-item {
  display: flex;
  padding-left: 75px;
  padding-right: 75px;
  padding-top: 30px;
  padding-bottom: 30px;
  border: 1px solid #e5e5e5;
  height: 155px;
}

.hotels-img {
  display: flex;
  width: 135px;
  margin-right: 30px;
  height: 126px;
}

.hotels-choice {
  display: flex;
  flex-direction: column;
  margin-top: -20px;
  width: 650px;
}

.hotels-stars {
  max-width: 200px;
}

.rating {
  margin-left: 80px;
  padding-top: 100px;
}

.page-footer {
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: row;
  width: 1200px;
  height: 122px;
  padding-top: 30px;
  padding-bottom: 20px;
  box-sizing: border-box;
}

.mini-link {
  display: flex;
  margin: 0;
  width: 400px;
  justify-content: center;
  height: 122px;
}

.footer-social {
  width: 400px;
  align-items: center;
}

.social-networks {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.footer-copyright {
  width: 400px;
  margin: 0;
  text-align: center;
  box-sizing: border-box;
}
