body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: #000000;
  font-weight: 700;
}

.site-navigation {
  list-style: none;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus {
  color: #b2b2b2;
}

.site-navigation a:active {
  color: #9b8d84;
}

.content-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.content-title-interesting {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.text-preview {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}

.title-btn {
  width: 568px;
  background-color: #766357;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
}

.title-btn:hover {
  background-color: #604e43;
}

.title-btn:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-search-item {
  font-size: 14px;
  font-weight: 700;
}

.search-btn {
  width: 458px;
  height: 58px;
  background-color: #81b3d2;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.search-btn:hover {
  background-color: #669ec0;
}

.search-btn:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.canyon-img {
  background-color: #ffffff;
  background-image-size: 1200px;
  background-image: url("../img/landscape-img/intro-welcome.svg"),
    url("../img/landscape-img/landscape-1.jpg");
  height: 780px;
  background-repeat: no-repeat;
}

.date-field {
  background-color: #f2f2f2;
}

.date-field:hover {
  background-color: #ebebeb;
}

.date-field:focus {
  background-color: #ffffff;
}

.view-calendar {
  background-image: url("../img/icons/icon-calendar.svg");
  color: #d4d4d4;
}

.number-field {
  width: 20px;
}

.less-number,
.more-number {
  color: #a9a9a9;
}

.less-number:hover,
.more-number:hover {
  color: #000000;
}

.less-number:active,
.more-number:active {
  color: #81b3d2;
}

.social-networks {
  list-style: none;
}

.visual-hidden {
  display: none;
}

.catalog-list {
  list-style: none;
}

.hotels-name {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.hotels-name a:hover {
  color: #81b3d2;
}

.hotels-name a:focus {
  color: rgba(0, 0, 0, 0.3);
}

.hotels-type,
.hotels-price {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
}

.rating {
  color: #8b8b8b;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
}

.catalog-btn,
.catalog-btn-order {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.catalog-btn {
  background-color: #81b3d2;
  padding: 5px 10px;
}

.catalog-btn:hover {
  background-color: #669ec0;
}

.catalog-btn:focus {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.catalog-btn-order {
  background-color: #766357;
  padding: 5px 10px;
}

.catalog-btn-order:hover {
  background-color: #604e43;
}

.catalog-btn-order:focus {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.mini-link {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

/*стили сетки*/
body>* {
  background: rgba(255, 0, 0, 0.3);
}

body>*>* {
  background: rgba(255, 255, 0, 0.3);
}

body>*>*>* {
  , 255, 0, 0.3);
}

html,
body {
  width: 1200px;
  min-height: 2762px;
}

body {
  background-color: #f2f2f2;
  background-size: 1200px auto;
  margin-left: 40px;
  margin-right: 40px;
}

.header-page {
  width: 1200px;
  background-color: #ffffff;
}

.main-menu {
  background-color: transparent;
}

.main-menu {
  display: flex;
}

.menu-wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-direction: column;
  
}

.main-logo {
  /*display:block;*/
  width: 140px;
  height: 55px;
  margin: auto;
  justify-content: center;

}

.site-navigation {
  display: flex;
  width: 100%;
  justify-content: space-around;

  margin: 0;
  padding: 0;

}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.canyon-img {
  display: flex;
  width: 100%;
  padding-left: 0;
  justify-content: center;
}

.catalog-list {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  width: 1200px;
  margin-bottom: 20px;
  background-color: #ffffff;
  background-size: 1200px;
}

.catalog-item {
  display: flex;
  margin-bottom: 60px;
  height: 150px;

}

.hotels-img {
  margin-top: 30px;
  margin-left: 30px;
}

.hotels-choice {
  margin-left: 30px;
}

.rating {
  margin-left: 490px;

}

.page-footer {
  width: 1200px;
  height: 122px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.mini-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 240px;
  min-height: 122px;
  margin-top: 0;
  margin-left: 73px;
  margin-right: 88px;
}

.social-networks {
  display: flex;

  align-items: center;
justify-content: space-around;
  width: 400px;
  height: 122px;
}

.footer-copyright {
  display: flex;

  justify-content: center;
  align-items: center;

  width: 240px;
  height: 122px;
  margin-top: 0;
  margin-left: 73px;
  margin-right: 88px;
}
